/*** colors ***/
.bg-light-1 {
    background-color: #f9f8f8 !important;
}

.bg-light-2 {
    background-color: #dbdfe7 !important;
}

.bg-dark-1, .btn-dark-1 {
    background-color: #517496 !important;
}

.btn-dark-1 {
    border-color: #517496 !important;
    color: white !important;
}

    .btn-dark-1:hover {
        background-color: #486581 !important;
        border-color: #486581 !important;
    }

.text-warning-1 {
    color: #ce9e0d !important;
}

/*** bootstrap overrides ***/
.modal {
    background-color: #42404096;    
}

.nav-bg {
    background-color: #2f3338 !important;
}

.nav-link {
    cursor: pointer;
}

.nav-item-active {
    z-index: 2;
}

.show {
    opacity: 1;
    display: block !important;
}

.card-header {
    border-bottom: unset !important;
}

.table-hover tbody tr:hover {
    background-color: #d7deec !important;
}

input[type='checkbox'] {
    width: 16px;
    height: 16px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.table-hover tbody tr:hover {
    cursor: default;
}

/*** generic classes ***/
.icon-btn {
    cursor: pointer;
    color: #368b36;
    transition: color 500ms;
}

    .icon-btn:hover {
        filter: brightness(85%);
    }

.search-input {
    border-color: transparent;
}
    .search-input:focus {
        outline: none !important;
    }

.selected-row, .selected-row:hover {
    background-color: #d7deec !important;
}

/*** specific ***/
#main {
    margin-top: 70px;
}

#login-head {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

#notification-banner {
    border-radius: 3px 3px 0px 0px;
    margin-bottom: 5px;
    padding: 0px 0px 0px 10px;
    transition: padding 250ms ease-in-out;
}

#inventory-wrapper {
    margin-top: -1px;
    height: 800px;
    border: 1px solid #dee2e6;
}

#samp-inv-designer-label {
    width: 100px;
}

@media (max-width: 4000px) {
    #samp-inv-item {
        max-width: 40%;
    }
}

@media (max-width: 1800px) {
    #samp-inv-item {
        max-width: 50%;
    }
}

@media (max-width: 1550px) {
    #samp-inv-item {
        max-width: 60%;
    }
}

@media (max-width: 1250px) {
    #samp-inv-item {
        max-width: 70%;
    }
}

@media (max-width: 960px) {
    #samp-inv-item {
        max-width: 80%;
    }
}

@media (max-width: 720px) {
    #samp-inv-item {
        max-width: 90%;
    }
}

@media (max-width: 540px) {
    #samp-inv-item {
        max-width: 100%;
    }
}

.input-lbl {
    width: 150px;
    display: block;
    text-align: right;
}
