/*** colors ***/

.bg-dark-1 {
    background-color: #727992 !important;
}

/*** bootstrap related ***/
.modal {
    background-color: #42404096;    
}

.nav-link {
    cursor: pointer;
}

.nav-item-active {
    z-index: 2;
}

.show {
    opacity: 1;
    display: block !important;
}

/*** generic classes ***/
.icon-btn {
    cursor: pointer;
    color: #368b36;
    transition: color 500ms;
}

    .icon-btn:hover {
        color: #2f692f;
    }

.combo-input {
    color: rgb(146, 146, 146);
}

/*** specific ***/
#login-head {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

#inventory-wrapper {
    margin-top: -1px;
    height: 800px;
    border: 1px solid #dee2e6;
}

@media (max-width: 4000px) {
    #samp-inv-item {
        max-width: 40%;
    }
}

@media (max-width: 1800px) {
    #samp-inv-item {
        max-width: 50%;
    }
}

@media (max-width: 1550px) {
    #samp-inv-item {
        max-width: 60%;
    }
}

@media (max-width: 1250px) {
    #samp-inv-item {
        max-width: 70%;
    }
}

@media (max-width: 960px) {
    #samp-inv-item {
        max-width: 80%;
    }
}

@media (max-width: 720px) {
    #samp-inv-item {
        max-width: 90%;
    }
}

@media (max-width: 540px) {
    #samp-inv-item {
        max-width: 100%;
    }
}

.samp-inv-field-lbl {
    width: 180px;
    display: block;
    text-align: right;
}
